<ion-view view-title="Order Summary">
  <ion-content>
    <a ng-if="orderEmpty()">
      Nothing in the cart, please head <a href="#/app/veg">back</a> to menu to order.
    </ion-header-bar>
    <ion-list ng-if="orderDetails">
      <ion-item class="item-thumbnail-left" ng-repeat="order in orderDetails">
        <img src="{{order.imgUrl}}">
        <h2>Name : {{order.name}}</h2>
        <div>
          <a class="icon ion-plus-circled" ng-click="addItem(order)"></a>
          <span class="order-quantity">{{order.quantity}}</span>
          <a class="icon ion-minus-circled" ng-click="deleteItem(order)"></a>
          <h2>{{order.price}}</h2>
          <h2 align=right>Rs. {{getFinalPrice(order)}}</h2>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
