<ion-view view-title="Veg Items">
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left" ng-repeat="items in vegItems" ng-click="showMoreInfo(items.id)">
        <img src="{{items.imgUrl}}">
	    <h2>{{items.name}}</h2>
	    <p>{{items.description}}</p>
        <a class="icon ion-plus-circled" ng-click="addItem(items)"></a>
        <a class="icon ion-minus-circled" ng-click="deleteItem(items)"></a>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="sideDescription">
    <dl class="sideDl">
      <dt>{{chosenItem.name}}</dt>
      <img src="{{chosenItem.picture}}" class='itemImg'>
      <dl class="itemDescription">{{chosenItem.description}}</dl>
    </dl>
  </div>
</ion-view>
